{% load static %}
{% load toast_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}Config Starter{% endblock %}</title>

  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous"
  />

  <!-- (opcional) Bootstrap Icons -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
    rel="stylesheet"
  />

  <link rel="stylesheet" href="{% static 'core/css/style.css' %}">

</head>

<body>
  <div class="container">
    {% include "partials/toasts.html" %}
    <header class="d-flex justify-content-between align-items-center pb-2 mb-3 border-bottom">
      <div class="d-flex align-items-center gap-4">
        <h1 class="h3 m-0">{% block header %}Config Starter{% endblock %}</h1>

        <!-- Menu Principal (só aparece se o usuário estiver logado) -->
        {% if user.is_authenticated %}
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a href="{% url 'core:home' %}" class="nav-link {% if request.resolver_match.view_name == 'core:home' %}active{% endif %}">
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'accounts:list' %}" class="nav-link {% if request.resolver_match.app_name == 'accounts' %}active{% endif %}">
              Accounts
            </a>
          </li>
        </ul>
        {% endif %}
      </div>


      <nav class="d-flex align-items-center gap-2">
        {% if user.is_authenticated %}
          <span class="text-muted small">Hello, {{ user.email }}</span>
          <a href="{% url 'users:profile' %}" class="btn btn-outline-primary btn-sm">Profile</a>
          <form method="post" action="{% url 'users:logout' %}" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-sm">Logout</button>
          </form>
        {% else %}
          <a href="{% url 'users:login' %}" class="btn btn-primary btn-sm">Login</a>
          <a href="{% url 'users:register' %}" class="btn btn-outline-primary btn-sm">Register</a>
        {% endif %}
      </nav>

    </header>

    <main>
      {% block content %}
      <!-- Page-specific content goes here -->
      {% endblock %}
    </main>

    <footer>
      {% block footer %}
      © {{ now|date:"Y" }} Config Starter · Powered by Django
      {% endblock %}
    </footer>
  </div>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
  <script src="{% static 'core/js/scripts.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
