{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  {% if form.instance.pk %}
    Edit Transaction
  {% else %}
    New Transaction
  {% endif %}
{% endblock %}

{% block header %}
  {% if form.instance.pk %}
    Edit Transaction
  {% else %}
    New Transaction
  {% endif %}
{% endblock %}

{% block content %}
  <form method="post" class="mx-auto" style="max-width:700px;">
    {% csrf_token %}
    {{ form|crispy }}
    <!-- Bloco de botões adicionado abaixo -->
    <div class="mt-4 pt-3 border-top">
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-check-circle me-2"></i>Save
        </button>
          <a href="{{ cancel_url }}" class="btn btn-outline-secondary ms-2">
              <i class="bi bi-x-circle me-2"></i>Cancel
          </a>
    </div>
  </form>
{% endblock %}

{% block extra_js %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    const isInstallmentCheckbox = document.getElementById('id_is_installment');
    const installmentFieldsDiv = document.getElementById('installment-fields');

    function toggleInstallmentFields() {
        if (isInstallmentCheckbox.checked) {
            installmentFieldsDiv.classList.remove('d-none');
            // Torna os campos de parcelamento obrigatórios se a caixa estiver marcada
            document.getElementById('id_installments_total').required = true;
            document.getElementById('id_frequency').required = true;
        } else {
            installmentFieldsDiv.classList.add('d-none');
            // Remove a obrigatoriedade se a caixa estiver desmarcada
            document.getElementById('id_installments_total').required = false;
            document.getElementById('id_frequency').required = false;
        }
    }

    if (isInstallmentCheckbox) {
        // Verifica o estado inicial ao carregar a página
        toggleInstallmentFields();
        // Adiciona o listener para mudanças
        isInstallmentCheckbox.addEventListener('change', toggleInstallmentFields);
    }
});
</script>
{% endblock %}